Android/HHAll1.4/MobileServices - 1.2/src/TestWCF/Service References/ServiceReference/MobileService54.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DoHome.MobileService.Services" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DoHome.MobileService.Services" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfMenuPermission">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MenuPermission" nillable="true" type="tns:MenuPermission" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMenuPermission" nillable="true" type="tns:ArrayOfMenuPermission" />
  <xs:complexType name="MenuPermission">
    <xs:sequence>
      <xs:element minOccurs="0" name="MenuName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MenuPermission" nillable="true" type="tns:MenuPermission" />
</xs:schema>