Android/HHAll1.4/MobileServices - 1.3/src/TestWCF/Service References/ServiceReference/MobileService5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.0.37/MobileAPI/MobileService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DoHome.MobileService" />
  <xs:import schemaLocation="http://192.168.0.37/MobileAPI/MobileService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/DoHome.MobileService.Services" />
  <xs:import schemaLocation="http://192.168.0.37/MobileAPI/MobileService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="WareHouseGetAll">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="branchCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WareHouseGetAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DoHome.MobileService" minOccurs="0" name="WareHouseGetAllResult" nillable="true" type="q1:ArrayOfWarehouse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddHandHeldCheckProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="employeeID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="locationCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="warehouseCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="branchCode" nillable="true" type="xs:string" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DoHome.MobileService" minOccurs="0" name="locationDescriptions" nillable="true" type="q2:ArrayOfLocationDescription" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DoHome.MobileService" minOccurs="0" name="products" nillable="true" type="q3:ArrayOfProductBarcode" />
        <xs:element minOccurs="0" name="remark" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddHandHeldCheckProductResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ProductInfoGet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="branchCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="productCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="barcode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProductInfoGetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/DoHome.MobileService" minOccurs="0" name="ProductInfoGetResult" nillable="true" type="q4:ProductInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProductInfoGetByProductOrBarcode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="branchCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="productCodeOrBarcode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProductInfoGetByProductOrBarcodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/DoHome.MobileService" minOccurs="0" name="ProductInfoGetByProductOrBarcodeResult" nillable="true" type="q5:ProductInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SapDepartmentGetByLocationCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="branchCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="warehouseCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="locationCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SapDepartmentGetByLocationCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/DoHome.MobileService" minOccurs="0" name="SapDepartmentGetByLocationCodeResult" nillable="true" type="q6:ArrayOfSapDepartment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SapDepartmentTextGetByLocationCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="branchCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="warehouseCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="locationCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SapDepartmentTextGetByLocationCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SapDepartmentTextGetByLocationCodeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SapDepartmentGetByProductCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="branchCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="productCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SapDepartmentGetByProductCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/DoHome.MobileService" minOccurs="0" name="SapDepartmentGetByProductCodeResult" nillable="true" type="q7:ArrayOfSapDepartment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SapDepartmentTextGetByProductCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="branchCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="productCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SapDepartmentTextGetByProductCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SapDepartmentTextGetByProductCodeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LocationCheckPeriodAgendaAdd">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/DoHome.MobileService" minOccurs="0" name="locationCheckPeriodAgenda" nillable="true" type="q8:LocationCheckPeriodAgenda" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LocationCheckPeriodAgendaAddResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LocationCheckPeriodAgendaUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/DoHome.MobileService" minOccurs="0" name="locationCheckPeriodAgenda" nillable="true" type="q9:LocationCheckPeriodAgenda" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LocationCheckPeriodAgendaUpdateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LocationCheckPeriodAgendaDelete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LocationCheckPeriodAgendaDeleteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LocationCheckPeriodAgendaGetByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LocationCheckPeriodAgendaGetByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/DoHome.MobileService" minOccurs="0" name="LocationCheckPeriodAgendaGetByIDResult" nillable="true" type="q10:LocationCheckPeriodAgenda" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LocationCheckPeriodAgendaGetAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LocationCheckPeriodAgendaGetAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/DoHome.MobileService" minOccurs="0" name="LocationCheckPeriodAgendaGetAllResult" nillable="true" type="q11:ArrayOfLocationCheckPeriodAgenda" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCheckProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="productName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="unitName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCheckProductResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddHandHeldCounter">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="branchCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="documentNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="confirm" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddHandHeldCounterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddHandHeldCounterResult" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="messageStatus" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductBarcodeByProductCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="branchCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="productCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="unitCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductBarcodeByProductCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetProductBarcodeByProductCodeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductByCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="branchCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="productCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductByCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/DoHome.MobileService" minOccurs="0" name="GetProductByCodeResult" nillable="true" type="q12:Product" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductByBarCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="branchCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="barcode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductByBarCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/DoHome.MobileService" minOccurs="0" name="GetProductByBarCodeResult" nillable="true" type="q13:Product" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="branchCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="productCodeOrBarcode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetProductCodeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProductLocationGetDisplayList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="branchCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProductLocationGetDisplayListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/DoHome.MobileService" minOccurs="0" name="ProductLocationGetDisplayListResult" nillable="true" type="q14:ArrayOfDisplayList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisplayListGetBySearchPrice">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="branchCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisplayListGetBySearchPriceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/DoHome.MobileService" minOccurs="0" name="DisplayListGetBySearchPriceResult" nillable="true" type="q15:ArrayOfDisplayList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisplayListGetByCountStock">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="branchCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="createUser" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisplayListGetByCountStockResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/DoHome.MobileService" minOccurs="0" name="DisplayListGetByCountStockResult" nillable="true" type="q16:ArrayOfDisplayList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisplayListGetByLocationCheck">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="branchCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="createUser" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisplayListGetByLocationCheckResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/DoHome.MobileService" minOccurs="0" name="DisplayListGetByLocationCheckResult" nillable="true" type="q17:ArrayOfDisplayList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItemShipment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TKNUM" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItemShipmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/DoHome.MobileService" minOccurs="0" name="GetItemShipmentResult" nillable="true" type="q18:ShipmentHeader" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProductSaleDetailGetByProductCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="branchCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isShowProfit" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProductSaleDetailGetByProductCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/DoHome.MobileService" minOccurs="0" name="ProductSaleDetailGetByProductCodeResult" nillable="true" type="q19:ProductSaleDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MasterProductGetByBranch">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="branchCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MasterProductGetByBranchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/DoHome.MobileService" minOccurs="0" name="MasterProductGetByBranchResult" nillable="true" type="q20:ArrayOfMasterProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddHandHeldCounterMainHold">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="branchCode" nillable="true" type="xs:string" />
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/DoHome.MobileService" minOccurs="0" name="handHeldCounterMainHolds" nillable="true" type="q21:ArrayOfHandHeldCounterMainHold" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddHandHeldCounterMainHoldResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddHandHeldCounterMainHoldResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMajorHandHeldCounterMainHoldToSap">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="branchCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="documentNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="officerID1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="officerID2" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMajorHandHeldCounterMainHoldToSapResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMinorHandHeldCounterMainHoldToSap">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="documentNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="officerID1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="officerID2" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="officerID3" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="officerID4" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="warehouseCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="branchCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMinorHandHeldCounterMainHoldToSapResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHandHeldCounterMainHoldZMMInvoiceCnThFromSap">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="officerID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHandHeldCounterMainHoldZMMInvoiceCnThFromSapResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/DoHome.MobileService" minOccurs="0" name="GetHandHeldCounterMainHoldZMMInvoiceCnThFromSapResult" nillable="true" type="q22:ArrayOfZMMInvoiceCnTh" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHandHeldCounterMainHoldZDDHandHeldCheckStockFromSap">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="branchCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="iblnr" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Gjahr" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="officerID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHandHeldCounterMainHoldZDDHandHeldCheckStockFromSapResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/DoHome.MobileService" minOccurs="0" name="GetHandHeldCounterMainHoldZDDHandHeldCheckStockFromSapResult" nillable="true" type="q23:ArrayOfHandHeldCounterMainHold" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHandHeldCounterMainHoldByDocumentNo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="branchCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="documentNo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHandHeldCounterMainHoldByDocumentNoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/DoHome.MobileService" minOccurs="0" name="GetHandHeldCounterMainHoldByDocumentNoResult" nillable="true" type="q24:ArrayOfHandHeldCounterMainHold" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHandHeldCounterMainHoldBillByUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="branchCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHandHeldCounterMainHoldBillByUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/DoHome.MobileService" minOccurs="0" name="GetHandHeldCounterMainHoldBillByUserResult" nillable="true" type="q25:ArrayOfHandHeldCounterMainHold" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LocationCheckDetailAdd">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/DoHome.MobileService" minOccurs="0" name="locationCheckDetail" nillable="true" type="q26:LocationCheckDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LocationCheckDetailAddResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LocationCheckDetailUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/DoHome.MobileService" minOccurs="0" name="locationCheckDetail" nillable="true" type="q27:LocationCheckDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LocationCheckDetailUpdateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LocationCheckDetailDelete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LocationCheckDetailDeleteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LocationCheckDetailGetByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LocationCheckDetailGetByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/DoHome.MobileService" minOccurs="0" name="LocationCheckDetailGetByIDResult" nillable="true" type="q28:LocationCheckDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LocationCheckDetailGetAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LocationCheckDetailGetAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/DoHome.MobileService" minOccurs="0" name="LocationCheckDetailGetAllResult" nillable="true" type="q29:ArrayOfLocationCheckDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LocationCheckDepartmentAdd">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/DoHome.MobileService" minOccurs="0" name="locationCheckDepartment" nillable="true" type="q30:LocationCheckDepartment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LocationCheckDepartmentAddResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LocationCheckDepartmentUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/DoHome.MobileService" minOccurs="0" name="locationCheckDepartment" nillable="true" type="q31:LocationCheckDepartment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LocationCheckDepartmentUpdateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LocationCheckDepartmentDelete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LocationCheckDepartmentDeleteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LocationCheckDepartmentGetByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LocationCheckDepartmentGetByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/DoHome.MobileService" minOccurs="0" name="LocationCheckDepartmentGetByIDResult" nillable="true" type="q32:LocationCheckDepartment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LocationCheckDepartmentGetAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LocationCheckDepartmentGetAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/DoHome.MobileService" minOccurs="0" name="LocationCheckDepartmentGetAllResult" nillable="true" type="q33:ArrayOfLocationCheckDepartment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OrderedSetGetAllByPresent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="branchCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="warehouseCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="displayOnlyNotClose" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OrderedSetGetAllByPresentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/DoHome.MobileService" minOccurs="0" name="OrderedSetGetAllByPresentResult" nillable="true" type="q34:ArrayOfOrderedSet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OrderedSetGetByOrderNo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orderNo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OrderedSetGetByOrderNoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/DoHome.MobileService" minOccurs="0" name="OrderedSetGetByOrderNoResult" nillable="true" type="q35:OrderedSet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OrderedSetGetForkleftAll">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="branchCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="warehouseCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OrderedSetGetForkleftAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/DoHome.MobileService" minOccurs="0" name="OrderedSetGetForkleftAllResult" nillable="true" type="q36:ArrayOfForkLift" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OrderedSetAdd">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/DoHome.MobileService" minOccurs="0" name="order" nillable="true" type="q37:OrderedSet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OrderedSetAddResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="OrderedSetUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orderNo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OrderedSetUpdateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="OrderedSetDelete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OrderedSetDeleteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="OrderedSetGetForkLiftShippointByBranch">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="branchCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OrderedSetGetForkLiftShippointByBranchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/DoHome.MobileService" minOccurs="0" name="OrderedSetGetForkLiftShippointByBranchResult" nillable="true" type="q38:ArrayOfForkLiftShippoint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WareHouseGetSingle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="warehouseCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="branchCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WareHouseGetSingleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/DoHome.MobileService" minOccurs="0" name="WareHouseGetSingleResult" nillable="true" type="q39:Warehouse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WareHouseGetAllByBranch">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="branchCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WareHouseGetAllByBranchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/DoHome.MobileService" minOccurs="0" name="WareHouseGetAllByBranchResult" nillable="true" type="q40:ArrayOfWarehouse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AccountingYear">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AccountingYearResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AccountingYearResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServerTime">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServerTimeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetServerTimeResult" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServerTimeString">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServerTimeStringResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetServerTimeStringResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProductInLocationGetByProductCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="branchCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="productCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="warehouseCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProductInLocationGetByProductCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/DoHome.MobileService" minOccurs="0" name="ProductInLocationGetByProductCodeResult" nillable="true" type="q41:ArrayOfProductInLocation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProductInLocationGetWarehouseCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="locationCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProductInLocationGetWarehouseCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProductInLocationGetWarehouseCodeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProductPriceGetCurrentPrice">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="branchCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="productCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="unitCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProductPriceGetCurrentPriceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/DoHome.MobileService" minOccurs="0" name="ProductPriceGetCurrentPriceResult" nillable="true" type="q42:ProductPrice" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProductPriceGetAllPrice">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="branchCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="productCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="unitCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProductPriceGetAllPriceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/DoHome.MobileService" minOccurs="0" name="ProductPriceGetAllPriceResult" nillable="true" type="q43:ArrayOfProductPrice" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllLocationDescription">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllLocationDescriptionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/DoHome.MobileService" minOccurs="0" name="GetAllLocationDescriptionResult" nillable="true" type="q44:ArrayOfLocationDescription" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTopstockForms">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTopstockFormsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/DoHome.MobileService" minOccurs="0" name="GetTopstockFormsResult" nillable="true" type="q45:ArrayOfTopstockFormItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTopstockItems">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_ItemId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_Barcode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_Position" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_Branch" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_Warhouse" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_Status" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTopstockItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/DoHome.MobileService" minOccurs="0" name="GetTopstockItemsResult" nillable="true" type="q46:TopStockHeader" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateTopstockDoc">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/DoHome.MobileService" minOccurs="0" name="TopIn" nillable="true" type="q47:TopStockHeader" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateTopstockDocResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/DoHome.MobileService" minOccurs="0" name="CreateTopstockDocResult" nillable="true" type="q48:TopStockHeader" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OrderAccrualGetByProductCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="branchCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OrderAccrualGetByProductCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/DoHome.MobileService" minOccurs="0" name="OrderAccrualGetByProductCodeResult" nillable="true" type="q49:ArrayOfOrderAccrual" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OrderAccrualAdd">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="productName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="unitcode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="quantity" type="xs:double" />
        <xs:element minOccurs="0" name="branchCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="createdUserCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="createdUserName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OrderAccrualAddResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLabelPrint">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="branchCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLabelPrintResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/DoHome.MobileService" minOccurs="0" name="GetLabelPrintResult" nillable="true" type="q50:ArrayOfLabelPrint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LabelPrintProductAdd">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="branchCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="createdBy" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="remark" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="labelPrintTypeCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LabelPrintProductAddResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LabelPrintProductAddResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LabelPrintProductAddWithDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="branchCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="createdBy" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="remark" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="labelType" nillable="true" type="xs:string" />
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/DoHome.MobileService" minOccurs="0" name="details" nillable="true" type="q51:ArrayOfLabelPrintProductDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LabelPrintProductAddWithDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LabelPrintProductAddWithDetailResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LabelPrintProductDelete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="branchCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="docno" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LabelPrintProductDeleteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LabelPrintProductGet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="branchCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="docno" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="docdate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="createdBy" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LabelPrintProductGetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/DoHome.MobileService" minOccurs="0" name="LabelPrintProductGetResult" nillable="true" type="q52:ArrayOfLabelPrintProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LabelPrintProductDetailAdd">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="branchCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="docno" nillable="true" type="xs:string" />
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/DoHome.MobileService" minOccurs="0" name="details" nillable="true" type="q53:ArrayOfLabelPrintProductDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LabelPrintProductDetailAddResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LabelPrintProductDetailDelete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="branchCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="docno" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="rowOrder" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LabelPrintProductDetailDeleteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LabelPrintProductDetailGet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="branchCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="docno" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LabelPrintProductDetailGetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/DoHome.MobileService" minOccurs="0" name="LabelPrintProductDetailGetResult" nillable="true" type="q54:ArrayOfLabelPrintProductDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LabelPrintTypeGetByBranch">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="branchCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LabelPrintTypeGetByBranchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/DoHome.MobileService" minOccurs="0" name="LabelPrintTypeGetByBranchResult" nillable="true" type="q55:ArrayOfLabelPrintType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BranchGetAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="BranchGetAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/DoHome.MobileService" minOccurs="0" name="BranchGetAllResult" nillable="true" type="q56:ArrayOfBranch" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserCheckLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="branchCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserCheckLoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/DoHome.MobileService" minOccurs="0" name="UserCheckLoginResult" nillable="true" type="q57:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserGetAll">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="branchCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserGetAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/DoHome.MobileService" minOccurs="0" name="UserGetAllResult" nillable="true" type="q58:ArrayOfUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserByBranch">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="branchCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserByBranchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/DoHome.MobileService" minOccurs="0" name="GetUserByBranchResult" nillable="true" type="q59:ArrayOfUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserByCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="branchCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserByCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/DoHome.MobileService" minOccurs="0" name="GetUserByCodeResult" nillable="true" type="q60:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMenuPermission">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="branchCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMenuPermissionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://schemas.datacontract.org/2004/07/DoHome.MobileService.Services" minOccurs="0" name="GetMenuPermissionResult" nillable="true" type="q61:ArrayOfMenuPermission" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProductBarcodeGetByProductCodeOrBarcode1">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productCodeOrBarcode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="warehouseCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="branchCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isShowPrice" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProductBarcodeGetByProductCodeOrBarcode1Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/DoHome.MobileService" minOccurs="0" name="ProductBarcodeGetByProductCodeOrBarcode1Result" nillable="true" type="q62:ArrayOfProductBarcode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProductBarcodeGetByProductCodeOrBarcode2">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productCodeOrBarcode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="branchCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProductBarcodeGetByProductCodeOrBarcode2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q63="http://schemas.datacontract.org/2004/07/DoHome.MobileService" minOccurs="0" name="ProductBarcodeGetByProductCodeOrBarcode2Result" nillable="true" type="q63:ArrayOfProductBarcode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProductBarcodeGetByProductCodeOrBarcode3">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="branchCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="productCodeOrBarcode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProductBarcodeGetByProductCodeOrBarcode3Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q64="http://schemas.datacontract.org/2004/07/DoHome.MobileService" minOccurs="0" name="ProductBarcodeGetByProductCodeOrBarcode3Result" nillable="true" type="q64:ProductBarcode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProductBarcodeGetByProductCodeOrBarcode4">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="branchCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="productCodeOrBarcode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProductBarcodeGetByProductCodeOrBarcode4Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q65="http://schemas.datacontract.org/2004/07/DoHome.MobileService" minOccurs="0" name="ProductBarcodeGetByProductCodeOrBarcode4Result" nillable="true" type="q65:ArrayOfProductBarcode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProductBarcodeGetByProductCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="branchCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="productCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="unitCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProductBarcodeGetByProductCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q66="http://schemas.datacontract.org/2004/07/DoHome.MobileService" minOccurs="0" name="ProductBarcodeGetByProductCodeResult" nillable="true" type="q66:ProductBarcode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProductByProductCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="branchCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="productCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProductByProductCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q67="http://schemas.datacontract.org/2004/07/DoHome.MobileService" minOccurs="0" name="ProductByProductCodeResult" nillable="true" type="q67:ProductBarcode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BarcodeGetByProductCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="branchCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="productCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="unitCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BarcodeGetByProductCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BarcodeGetByProductCodeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProductBarcodeGetByBarcode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="barcode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="branchCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProductBarcodeGetByBarcodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q68="http://schemas.datacontract.org/2004/07/DoHome.MobileService" minOccurs="0" name="ProductBarcodeGetByBarcodeResult" nillable="true" type="q68:ProductBarcode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductPosition">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sProductCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sWarehouse" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductPositionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q69="http://schemas.datacontract.org/2004/07/DoHome.MobileService" minOccurs="0" name="GetProductPositionResult" nillable="true" type="q69:ArrayOfProductPosition" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProductBarcodeGetByProductCodeOrBarcode5">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="branchCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="productCodeOrBarcode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="warehouseCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProductBarcodeGetByProductCodeOrBarcode5Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q70="http://schemas.datacontract.org/2004/07/DoHome.MobileService" minOccurs="0" name="ProductBarcodeGetByProductCodeOrBarcode5Result" nillable="true" type="q70:ArrayOfProductBarcode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LocationGetByCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="locationCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="warehouseCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LocationGetByCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q71="http://schemas.datacontract.org/2004/07/DoHome.MobileService" minOccurs="0" name="LocationGetByCodeResult" nillable="true" type="q71:Location" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LocationGetByWarehouse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="warehouseCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LocationGetByWarehouseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q72="http://schemas.datacontract.org/2004/07/DoHome.MobileService" minOccurs="0" name="LocationGetByWarehouseResult" nillable="true" type="q72:ArrayOfLocation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrintLabelLocationAdd">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="branchCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="warehouseCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="createdBy" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="labelType" nillable="true" type="xs:string" />
        <xs:element xmlns:q73="http://schemas.datacontract.org/2004/07/DoHome.MobileService" minOccurs="0" name="printLabelLocationDetails" nillable="true" type="q73:ArrayOfPrintLabelLocationDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrintLabelLocationAddResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PrintLabelLocationAddResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrintLabelLocationGetAll">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="branchCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="documentNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="documentDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrintLabelLocationGetAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q74="http://schemas.datacontract.org/2004/07/DoHome.MobileService" minOccurs="0" name="PrintLabelLocationGetAllResult" nillable="true" type="q74:ArrayOfPrintLabelLocation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrintLabelLocationDelete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="branchCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="documentNo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrintLabelLocationDeleteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PrintLabelLocationDetailGetAll">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="branchCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="documentNo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrintLabelLocationDetailGetAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q75="http://schemas.datacontract.org/2004/07/DoHome.MobileService" minOccurs="0" name="PrintLabelLocationDetailGetAllResult" nillable="true" type="q75:ArrayOfPrintLabelLocationDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrintLabelLocationStatusGet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="branchCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="createdBy" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrintLabelLocationStatusGetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q76="http://schemas.datacontract.org/2004/07/DoHome.MobileService" minOccurs="0" name="PrintLabelLocationStatusGetResult" nillable="true" type="q76:ArrayOfPrintLabelLocationStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProductUnitGetByCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="branchCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="unitCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProductUnitGetByCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q77="http://schemas.datacontract.org/2004/07/DoHome.MobileService" minOccurs="0" name="ProductUnitGetByCodeResult" nillable="true" type="q77:ProductUnit" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUnitByCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="branchCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="unitCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUnitByCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetUnitByCodeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProductUnitGetByProductCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="branchCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="productCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProductUnitGetByProductCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q78="http://schemas.datacontract.org/2004/07/DoHome.MobileService" minOccurs="0" name="ProductUnitGetByProductCodeResult" nillable="true" type="q78:ArrayOfProductUnit" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LocationCheckAdd">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="branchCode" nillable="true" type="xs:string" />
        <xs:element xmlns:q79="http://schemas.datacontract.org/2004/07/DoHome.MobileService" minOccurs="0" name="locationCheck" nillable="true" type="q79:LocationCheck" />
        <xs:element xmlns:q80="http://schemas.datacontract.org/2004/07/DoHome.MobileService" minOccurs="0" name="locationCheckDetail" nillable="true" type="q80:ArrayOfLocationCheckDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LocationCheckAddResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LocationCheckUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q81="http://schemas.datacontract.org/2004/07/DoHome.MobileService" minOccurs="0" name="locationCheck" nillable="true" type="q81:LocationCheck" />
        <xs:element xmlns:q82="http://schemas.datacontract.org/2004/07/DoHome.MobileService" minOccurs="0" name="locationCheckDetail" nillable="true" type="q82:ArrayOfLocationCheckDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LocationCheckUpdateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LocationCheckDelete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LocationCheckDeleteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LocationCheckGetByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LocationCheckGetByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q83="http://schemas.datacontract.org/2004/07/DoHome.MobileService" minOccurs="0" name="LocationCheckGetByIDResult" nillable="true" type="q83:LocationCheck" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LocationCheckGetAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LocationCheckGetAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q84="http://schemas.datacontract.org/2004/07/DoHome.MobileService" minOccurs="0" name="LocationCheckGetAllResult" nillable="true" type="q84:ArrayOfLocationCheck" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ApplicationTitle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fromTitle" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="branchCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="wareHouseName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ApplicationTitleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ApplicationTitleResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ApplicationSAPClient">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ApplicationSAPClientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ApplicationSAPClientResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ApplicationSAPServer">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ApplicationSAPServerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ApplicationSAPServerResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProductLocationGetByLocation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="branchCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="locationCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="warehouseCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProductLocationGetByLocationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q85="http://schemas.datacontract.org/2004/07/DoHome.MobileService" minOccurs="0" name="ProductLocationGetByLocationResult" nillable="true" type="q85:ArrayOfProductLocation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProductLocationAdd">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="branchCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="locationCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="warehouseCode" nillable="true" type="xs:string" />
        <xs:element xmlns:q86="http://schemas.datacontract.org/2004/07/DoHome.MobileService" minOccurs="0" name="productLocation" nillable="true" type="q86:ArrayOfProductLocation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProductLocationAddResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProductLocationAddResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProductLocationMixAdd">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="branchCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="warehouseCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userCode" nillable="true" type="xs:string" />
        <xs:element xmlns:q87="http://schemas.datacontract.org/2004/07/DoHome.MobileService" minOccurs="0" name="productLocations" nillable="true" type="q87:ArrayOfProductLocation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProductLocationMixAddResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ProductLocationMixItemAdd">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="branchCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="warehouseCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userCode" nillable="true" type="xs:string" />
        <xs:element xmlns:q88="http://schemas.datacontract.org/2004/07/DoHome.MobileService" minOccurs="0" name="productLocation" nillable="true" type="q88:ProductLocation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProductLocationMixItemAddResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ProductLocationMixItemDelete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="branchCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="warehouseCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="locationCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="displayOrder" type="xs:int" />
        <xs:element minOccurs="0" name="productCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="unitCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProductLocationMixItemDeleteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ProductLocationMixGetByLocation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="branchCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="warehouseCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="locationCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProductLocationMixGetByLocationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q89="http://schemas.datacontract.org/2004/07/DoHome.MobileService" minOccurs="0" name="ProductLocationMixGetByLocationResult" nillable="true" type="q89:ArrayOfProductLocation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProductLocationGetByBarcode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="barcode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="locationCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="warehouseCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="branchCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isWarehouse" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProductLocationGetByBarcodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q90="http://schemas.datacontract.org/2004/07/DoHome.MobileService" minOccurs="0" name="ProductLocationGetByBarcodeResult" nillable="true" type="q90:ProductLocation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProductLocationGetByProductCodeOrBarcode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="warehouseCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="branchCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProductLocationGetByProductCodeOrBarcodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q91="http://schemas.datacontract.org/2004/07/DoHome.MobileService" minOccurs="0" name="ProductLocationGetByProductCodeOrBarcodeResult" nillable="true" type="q91:ProductLocation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProductLocationGetByProductCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="warehouseCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="branchCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProductLocationGetByProductCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q92="http://schemas.datacontract.org/2004/07/DoHome.MobileService" minOccurs="0" name="ProductLocationGetByProductCodeResult" nillable="true" type="q92:ProductLocation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProductLocationGetAllByBarcode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="barcode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="branchCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="warehouseCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProductLocationGetAllByBarcodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q93="http://schemas.datacontract.org/2004/07/DoHome.MobileService" minOccurs="0" name="ProductLocationGetAllByBarcodeResult" nillable="true" type="q93:ArrayOfProductLocation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProductLocationGetAllByProductCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="branchCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="warehouseCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProductLocationGetAllByProductCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q94="http://schemas.datacontract.org/2004/07/DoHome.MobileService" minOccurs="0" name="ProductLocationGetAllByProductCodeResult" nillable="true" type="q94:ArrayOfProductLocation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProductLocationBlankAdd">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="branchCode" nillable="true" type="xs:string" />
        <xs:element xmlns:q95="http://schemas.datacontract.org/2004/07/DoHome.MobileService" minOccurs="0" name="productLocations" nillable="true" type="q95:ArrayOfProductLocation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProductLocationBlankAddResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ProductLocationAddHandHeldLocation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="branchCode" nillable="true" type="xs:string" />
        <xs:element xmlns:q96="http://schemas.datacontract.org/2004/07/DoHome.MobileService" minOccurs="0" name="products" nillable="true" type="q96:ArrayOfProductLocation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProductLocationAddHandHeldLocationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProductLocationAddHandHeldLocationResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProductLocationGetHandHeldLocation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="branchCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="locationCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="employeeCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProductLocationGetHandHeldLocationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q97="http://schemas.datacontract.org/2004/07/DoHome.MobileService" minOccurs="0" name="ProductLocationGetHandHeldLocationResult" nillable="true" type="q97:ArrayOfProductLocation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckIsCreateLocationToday">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="branchCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="locationCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="warehouseCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckIsCreateLocationTodayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckIsCreateLocationTodayResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProductLocationGetInfomationByBarcode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="barcode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="warehouseCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="branchCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProductLocationGetInfomationByBarcodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q98="http://schemas.datacontract.org/2004/07/DoHome.MobileService" minOccurs="0" name="ProductLocationGetInfomationByBarcodeResult" nillable="true" type="q98:ProductLocation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RandomCheckMasterGetAll">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="branchCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="docno" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="docdate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="warehouseCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RandomCheckMasterGetAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q99="http://schemas.datacontract.org/2004/07/DoHome.MobileService" minOccurs="0" name="RandomCheckMasterGetAllResult" nillable="true" type="q99:ArrayOfRandomCheckMaster" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RandomCheckGetDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="branchCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="docno" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RandomCheckGetDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q100="http://schemas.datacontract.org/2004/07/DoHome.MobileService" minOccurs="0" name="RandomCheckGetDetailResult" nillable="true" type="q100:ArrayOfProductLocation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RandomCheckAddMaster">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="branchCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="warehouseCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="locationCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="officerId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RandomCheckAddMasterResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RandomCheckAddDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="branchCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="documentNo" nillable="true" type="xs:string" />
        <xs:element xmlns:q101="http://schemas.datacontract.org/2004/07/DoHome.MobileService" minOccurs="0" name="products" nillable="true" type="q101:ArrayOfProductLocation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RandomCheckAddDetailResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RandomCheckDelete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="branchCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="documentNo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RandomCheckDeleteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ProductLocationGetByLike">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="warehouseCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="locationCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProductLocationGetByLikeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q102="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ProductLocationGetByLikeResult" nillable="true" type="q102:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HandHeldCounterHoldGetByProductCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productCodeOrBarcode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="officerID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="warehouseCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="branchCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HandHeldCounterHoldGetByProductCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q103="http://schemas.datacontract.org/2004/07/DoHome.MobileService" minOccurs="0" name="HandHeldCounterHoldGetByProductCodeResult" nillable="true" type="q103:ArrayOfHandHeldCounterHold" />
        <xs:element minOccurs="0" name="messageAlert" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHandHeldCounterHoldByDocumentNo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="branchCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="documentNo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHandHeldCounterHoldByDocumentNoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q104="http://schemas.datacontract.org/2004/07/DoHome.MobileService" minOccurs="0" name="GetHandHeldCounterHoldByDocumentNoResult" nillable="true" type="q104:ArrayOfHandHeldCounterHold" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHandHeldCounterHoldByToDay">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="branchCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHandHeldCounterHoldByToDayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q105="http://schemas.datacontract.org/2004/07/DoHome.MobileService" minOccurs="0" name="GetHandHeldCounterHoldByToDayResult" nillable="true" type="q105:ArrayOfHandHeldCounterHold" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHandHeldCounterHoldByToDayAndProductCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="branchCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="productCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHandHeldCounterHoldByToDayAndProductCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q106="http://schemas.datacontract.org/2004/07/DoHome.MobileService" minOccurs="0" name="GetHandHeldCounterHoldByToDayAndProductCodeResult" nillable="true" type="q106:ArrayOfHandHeldCounterHold" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddHandHeldCounterHold">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="branchCode" nillable="true" type="xs:string" />
        <xs:element xmlns:q107="http://schemas.datacontract.org/2004/07/DoHome.MobileService" minOccurs="0" name="counters" nillable="true" type="q107:ArrayOfHandHeldCounterHold" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddHandHeldCounterHoldResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddHandHeldCounterHoldResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HandHeldCounterHoldGetByProductCode2">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productCodeOrBarcode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="officerID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="warehouseCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="branchCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HandHeldCounterHoldGetByProductCode2Response">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>